<div style="text-align: center;">
<h1 style="background-color:rgb(214, 49, 37);">STUDENT DATA</h1>
</div>

<td><a href="{% url 'Addstudent'  %}"><button>add data</button></a></td><br></br>

<style>
    table, th, td {
      border:1px solid rgb(223, 27, 27);
      border-collapse: collapse;

    }
    th, td {
padding: 12px;
}
    </style>
<table style="width:100%" >
    <colgroup>
        <col span="7" style="background-color: #c3cfd4">
      </colgroup>
    
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ROLL_NO</th>
            <th>SEMESTER</th>
            <!-- <th>BRANCH</th> -->
            <th>PHONE_NO</th>
            <th>ACTION</th>
        </tr>
        {% for i in Student %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.roll_no}}</td>
            <td>{{i.semester}}</td>
            <!-- <td>{{i.branch}}</td> -->
            <td>{{i.phone_no}}</td>
            <td><a href="{% url 'updatestudent' i.id %}"><button>Update</button></a><a href="{% url 'deletes' i.id %}"><button>Delete</button></a>
        </tr>
        {% endfor %}
</table>