/* Apply background color to elements with id "color" */
/* #color {
    background-color: rgb(97, 95, 230); /* A soft blue background */
}

/* Style text within elements with id "c" */
/* #c {
    color: rgb(250, 7, 100); /* Bright pink text color */
    font-size: larger; /* Make font size larger */
    text-align: center; Center align the text */
/* } */

/* Apply background color to elements with id "b" */
/* #b {
    background-color: aqua; /* Light blue background */
} */ */

/* --------------------------------------------------- */


